* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
li {
  line-height: 24px;
}

.container {
  background-color: hsl(30, 54%, 90%);
}

.modal {
  margin: 0 auto;
  max-width: 731px;
  background: hsl(0, 0%, 100%);
}

.bullet_point, .ingredients_list_item::before, .content .preparation_list_item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section_break, .nutrition_list_item::after, .instructions::after, .instructions::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: hsl(30, 18%, 87%);
}

.header {
  height: 180px;
}
.header_image {
  width: 100%;
  height: 100%;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  width: 84%;
  margin: 0 auto;
  padding-top: 24px;
  font-family: "Outfit", serif;
  color: hsl(30, 10%, 34%);
}
.content .title {
  font-family: "Young Serif", serif;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
}
.content .recipe_title {
  line-height: 38px;
  font-size: 36px;
  color: hsl(24, 5%, 18%);
}
.content .recipe_description {
  margin: 20px 0;
}
.content .preparation {
  padding: 24px;
  margin-bottom: 24px;
  background: hsl(330, 100%, 98%);
  border-radius: 12px;
}
.content .preparation_title {
  display: inline-block;
  margin-bottom: 14px;
  font-family: "Outfit", serif;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
}
.content .preparation_info {
  margin-right: 4px;
  font-weight: 600;
}
.content .preparation_list {
  margin-left: 24px;
  list-style: none;
}
.content .preparation_list_item {
  position: relative;
  width: 200px;
  margin: 16px 4px 12px 14px;
  text-align: start;
  line-height: 24px;
}
.content .preparation_list_item::before {
  left: -32px;
  background: hsl(332, 51%, 32%);
}
.content .preparation_list_item:first-child {
  margin-top: 0;
}
.content .preparation_list_item:last-child {
  margin-bottom: 0;
}

.ingredients {
  margin-bottom: 28px;
}
.ingredients_title {
  margin-bottom: 16px;
  color: hsl(14, 45%, 36%);
}
.ingredients_list {
  margin-left: 18px;
  list-style: none;
}
.ingredients_list_item {
  position: relative;
  margin: 12px 0 12px 24px;
  text-align: start;
}
.ingredients_list_item::before {
  left: -36px;
  background: hsl(14, 45%, 36%);
}
.ingredients_list_item:first-child {
  margin-top: 0;
}
.ingredients_list_item:last-child {
  margin-bottom: 0;
}

.instructions {
  padding: 24px 0;
  position: relative;
}
.instructions::before {
  top: 0;
  left: 0;
}
.instructions::after {
  bottom: 0;
  left: 0;
}
.instructions .title {
  margin-bottom: 16px;
  color: hsl(14, 45%, 36%);
}
.instructions_list {
  margin: 0 6px 0 22px;
}
.instructions_list_point {
  font-weight: 600;
}
.instructions_list_item {
  margin: 12px 0;
  padding-left: 14px;
}
.instructions_list_item::marker {
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}
.instructions_list_item:first-child {
  margin-top: 0;
}
.instructions_list_item:last-child {
  margin-bottom: 0;
}

.nutrition {
  padding: 24px 0 52px 0;
  padding-right: 4px;
}
.nutrition_title {
  color: hsl(14, 45%, 36%);
  margin-bottom: 16px;
}
.nutrition_description {
  margin-bottom: 16px;
}
.nutrition_list {
  list-style: none;
}
.nutrition_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 12px 52px 0 28px;
  margin-bottom: 12px;
}
.nutrition_list_item::after {
  bottom: -12px;
  left: 0;
}
.nutrition_list_item:last-child::after {
  display: none;
}
.nutrition_list_item_info {
  width: 100px;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

@media (min-width: 768px) {
  .modal {
    margin: 0 auto;
  }
  .nutrition_list_item {
    padding: 0 200px 0 28px;
  }
}
@media (min-width: 992px) {
  .modal {
    margin: 80px auto;
    padding: 36px;
    border-radius: 18px;
  }
  .header {
    height: 318px;
  }
  .header_image {
    border-radius: 8px;
  }
  .content {
    width: 100%;
    padding-top: 48px;
  }
  .content .recipe_title {
    font-size: 40px;
  }
  .content .recipe_description {
    margin: 28px 0;
  }
  .content .preparation {
    margin-bottom: 28px;
    padding: 24px 36px;
  }
  .content .preparation_list {
    margin-left: 28px;
  }
  .content .preparation_list_item {
    margin: 16px 4px 12px 26px;
    width: 100%;
  }
  .content .preparation_list_item::before {
    left: -40px;
  }
  .content .instructions_list_item {
    padding-left: 18px;
  }
  .content .nutrition_list_item {
    padding: 0 220px 0 32px;
  }
}/*# sourceMappingURL=main.css.map */